#levelLoader {
    position: absolute;
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    &[hidden] {
        display: none;
    }
}

label[for="jsonInput"] {
    font-size: 50px;
    padding: 25px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
    &:hover {
        background-color: wheat;
    }
}

button[id*="levelLoad"] {
    font-size: 50px;
    border: 5px solid black;
    border-radius: 20px;
}

#levelButtons {
    display: flex;
    flex-flow: column;
    gap: 15px;
    &[hidden] {
        display: none;
    }
}