#levelUI {
    width: 1920px;
    height: 275px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    background: linear-gradient(rgba(255, 123, 103, 0.29), rgba(255, 98, 122, 0.29));
}

#currency {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.Selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

#border {
    width: 1920px;
    height: 5px;
    background: linear-gradient(to right, rgb(69, 0, 39), rgb(255, 1, 146) 40%);
}

#gameScreen {
    width: 1920px;
    height: 800px;
    &>* {
    position: absolute;
    }
}

#endScreen {
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 250px;
    &>span {
        color: white;
        font-size: 100px;
    }
    &>button {
        border-radius: 15px;
        font-size: 50px;
    }
    &[hidden] {
        display: none;
    }
}

#field {
    margin-top: 67px;
    margin-left: 78px;
    width: 1764px;
    height: 666px;
    &>* {
    position: absolute;
    }
}

#cells {
    display: grid;
    grid-template-columns: repeat(9, 196px);
    grid-template-rows: repeat(5, 132px);
}

.Cell {
    &:hover {
        background-color: rgba(0, 0, 128, 0.2);
    };
    &:active {
        background-color: rgba(128, 0, 0, 0.2);
    };
}