#levelUI {
    width: 1920px;
    height: 275px;
    border-bottom: 5px solid black;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

#currency {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#gameScreen {
    width: 1920px;
    height: 800px;
}

#field {
    position: absolute;
    margin-top: 67px;
    margin-left: 78px;
}

#cells {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 196px);
    grid-template-rows: repeat(5, 132px);
}

.Selector {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cell:hover {
    background-color: rgba(0, 0, 128, 0.2);
}
.Cell:active {
    background-color: rgba(128, 0, 0, 0.2);
}