#mainMenu>div {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

#titleScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &>span {
        font-size: 200px;
    }
    &[hidden] {
        display: none;
    }
}

#titleButtons {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bigButton {
    width: 1024px;
    height: 144px;
    font-size: 75px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url("../UI/button1.png");
    &#settingsButton {
        background-image: url("../UI/button2.png");
    }
    &:hover {
        filter: brightness(0.8);
    }
    &:active {
        filter: brightness(1);;
    }
}

#settingsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &>span {
        font-size: 100px;
    }
    &[hidden] {
        display: none;
    }
}

.sliderSetting {
    width: 575px;
    display: flex;
    flex-direction: column;
    align-items: start;
    &>label {
        font-size: 50px;
    }
    &>div {
        display: flex;
        justify-content: center;
        &>output {
            font-size: 35px;
            width: 55px;
        }
    }
}

.sliderSetting>div>input {
    appearance: none;
    background: transparent;
    width: 500px;
    &::-webkit-slider-runnable-track {
    height: 27px;
    background: linear-gradient(to right, rgb(178, 158, 104), rgb(255, 244, 212));    
    border-radius: 20px;
    border: 3px solid black;
    }
    &::-webkit-slider-thumb {
        cursor: pointer;
        appearance: none;
        width: 30px;
        height: 40px;
        border: 4px solid rgb(61, 37, 27);
        border-radius: 20%;
        margin-top: -8px;
        background-color: rgb(179, 118, 70);
    }
    &::-moz-range-track {
    height: 27px;
    background: linear-gradient(to right, rgb(178, 158, 104), rgb(255, 244, 212));    
    border-radius: 20px;
    border: 3px solid black;
    }
    &::-moz-range-thumb {
        cursor: pointer;
        appearance: none;
        width: 30px;
        height: 40px;
        border: 4px solid rgb(61, 37, 27);
        border-radius: 20%;
        margin-top: -8px;
        background-color: rgb(179, 118, 70);
    }
}

#settingsScreen>* button {
    color: rgb(237, 226, 209);
    background-color: rgb(123, 61, 6);
    border-radius: 10px;
    border: 4px solid rgb(60, 21, 28);
    &:hover {
        filter: brightness(1.15);
    }
    &:active {
        filter: brightness(1);
    }
}

.singleSetting {
    width: 575px;
    display: inline;
    &>label {
        font-size: 50px;
    }
    &>button {
        font-size: 25px;
    }
    &>input[type="checkbox"] {
        width: 30px;
        height: 30px;
    }
}

#SettingsButtons {
    width: 575px;
    display: flex;
    justify-content: space-around;
    &>button {
        font-size: 40px;
    }
}

#levelSelect {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template:
        "a a a a a" 1fr
        "b c d e f" 1fr
        "g h i j k" 1fr
        "l l l l l" 1fr / 1fr 1fr 1fr 1fr 1fr;
    &>span {
        font-size: 100px;
        grid-area: a;
    }
    &[hidden] {
        display: none;
    }
}

#levelSelect>button {
    &[id*="levelLoad"] {
        font-size: 100px;
        width: 200px;
        height: 200px;
        background-color: rgb(252, 241, 208);
        border: 5px solid rgb(131, 0, 78);
        border-radius: 20px;
        &:hover {
            filter: brightness(0.9);
        }
        &:active {
            filter: brightness(1);
        }
    }
    &#levelBack {
        grid-area: l;
    }
}
